@using myWeb.Models.Model;
@model Category
<form method="post">
    <div class="container Vh-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">
                <div class="" style="border-radius: 15px;">
                    <div class="card-body">
                        <h2 class="mb-0">Category</h2>
                        <hr class="mx-n3">
                        <div class="row align-items-center pt-4 pb-3">
                            <div asp-validation-summary="All"></div>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0">Full name</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input asp-for="Name" class="form-control form-control w-50" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0">Display Order</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input asp-for="DisplayOrder" class="form-control form-control w-50" />
                                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="buttonC">
                            <button type="submit" class="btn btn-primary align-content-end">Create</button>
                        </div>
                        <hr class="mx-n3">
                        <a asp-action="Index" asp-controller="Category">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<style>
    .buttonC {
        padding-left: 31rem;
    }
</style>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}